* {
background-color:rgb(4, 36, 124);
}

#wrapper {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%,-50%);

}
#startBtn {
   
    background-color: rgb(238, 20, 227);
    margin-left: 20%;
    padding: 25px 50px;
    font-size: 35px;
    color: white;
    

}

button {
    border-radius: 8px;
}
#timer {
    float: left;
    color: white;
    
}

#questions{
    margin: 30px;

}

h1 {
    text-align: center;
    color: white;
}
 p {
color:white;
text-align: center;
 }

